aluguelapp/__pycache__/*
/apps/Tipo/__pycache__/*
/apps/Tipo/migrations/*

/apps/Impressora/__pycache__/*
/apps/Impressora/migrations/*

/apps/Cliente/__pycache__/*
/apps/Cliente/migrations/*

/apps/Fornecedor/__pycache__/*
/apps/Fornecedor/migrations/*

/apps/Aluguel/__pycache__/*
/apps/Aluguel/migrations/*

/apps/ItemAluguel/__pycache__/*
/apps/ItemAluguel/migrations/*


/apps/Checklist/__pycache__/*
/apps/Checklist/migrations/*


/apps/Servico/__pycache__/*
/apps/Servico/migrations/*

/apps/Servico/__pycache__/*
/apps/Servico/migrations/*