aluguelapp/__pycache__/*
/apps/tipo/__pycache__/*
/apps/tipo/migrations/*

/apps/impressora/__pycache__/*
/apps/impressora/migrations/*

/apps/cliente/__pycache__/*
/apps/cliente/migrations/*

/apps/Fornecedor/__pycache__/*
/apps/Fornecedor/migrations/*

/apps/Aluguel/__pycache__/*
/apps/Aluguel/migrations/*

/apps/ItemAluguel/__pycache__/*
/apps/ItemAluguel/migrations/*


/apps/Checklist/__pycache__/*
/apps/Checklist/migrations/*


/apps/Servico/__pycache__/*
/apps/Servico/migrations/*

/apps/Servico/__pycache__/*
/apps/Servico/migrations/*