
aluguel_app/__pycache__/*
/apps/types/__pycache__/*
/apps/types/migrations/*

/apps/impressoras/__pycache__/*
/apps/impressoras/migrations/*

/apps/tipos/__pycache__/*
/apps/tipos/migrations/*

/apps/ItemAluguel/__pycache__/*
/apps/ItemAluguel/migrations/*
